.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/pattern-bg.svg'),
    url('./images/pattern-curve.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 1rem bottom 1.5rem, left 0 bottom 0;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: auto;
    background-size: contain;
    background-position: right 0 top 4.2rem, left 0 bottom 0;
  }
}
